[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "==20.9.1"
secure = "==0.2.1"
environs = "==9.3.0"
sanic-envconfig = "==1.3.4"

[dev-packages]

[requires]
python_version = "3.8"
